*{
    margin: 0px;
    padding: 0px;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column; 
    background:  url(../img/fondo/a.png) no-repeat center center fixed;
    background-size: cover;
     color: white;
     font-family: 'Georgia', serif;
  }


 #contenedorPadre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
    
  }
 .Titulos{   
  width: 90%;
    text-align: center;
    margin: 2rem;
  font-weight: bold;
  color: white;
  font-family:Georgia, 'Times New Roman', Times, serif;
  
}
.precio{
  font-weight: bold;
}
.precio-gamer { 
  box-shadow: #000;
  color: #8e17cd; 
  font-weight: bold;
  text-decoration: none; 
  font-size: 1.1rem;
  transition: color 0.3s ease, text-shadow 0.3s ease;
  cursor: pointer;
}

.precio-gamer:hover {
    color: #8e17cd; 
    text-shadow: 0 0 10px #380451;
}

.contenedorTarjetasPrincipales1{
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

div .estiloDeTarjeta1{ 
  background: transparent;
  max-width: 22rem; 
  width:22rem ;
  min-width: 13rem;      
   color: white;
  transition: all 0.3s ease;
  border-radius: 20px;
  margin: 15px; 
  box-shadow: 20px 10px 100px rgba(0, 0, 0, 0.4); 
  overflow: hidden; 
  perspective: 1000px;
  display: flex;
   flex-direction: column;
}

.img-flip {
   width: 100%;
   height: 220px; 
   position: relative;
   transform-style: preserve-3d;
   transition: transform 0.6s;
   border-radius: 20px;
 
  }

 .img-flip .front {   
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 20px;
   backface-visibility: hidden;
}

 .img-flip .back {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: #0d001f;  
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   padding: 10px;
   box-sizing: border-box;
   border-radius: 20px;
   transform: rotateY(180deg);
   backface-visibility: hidden;
   font-size: 0.9rem;
}

 .estiloDeTarjeta1:hover .img-flip {
   transform: rotateY(180deg);
}

 .card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
