@import url(../css_var/navb.css);
  /* logo */
  .logo {
    height: var(--logo-size);
    object-fit: cover;
    border-radius: 25px;
  }
  .logo:hover 
{
  transform: scale(1.1);
  filter: drop-shadow(0 0 6px #ae19df);
}

  * {
    font-weight: 12;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  nav *{
   margin: 5px;
  }

  .sinlinea{
    text-decoration: none;
  }
  li {
    padding-left: 3.5rem;
    margin-left: 1rem;
    padding: 50px;
  }
  .iconologin {
    color: whitesmoke;           
     border-radius: 50%;         
    border: 2px solid transparent;
    transition: all 0.3s ease; 
       
  }
  
  .iconologin:hover { 
    padding: 2px;
    border: 2px solid #0a2cff;   
    box-shadow: 0 0 10px #0a2cff; 
   }
  
  
  .contenedorNav{
  display: flex;
  justify-content:center;
  align-items:center;       
  text-align: center;   
 
   }
.item{
 padding-right: 20px;
}
  nav.navbar {
  background: transparent  !important;
  display: flex;
  justify-content:center;
  align-items:center;       
  text-align: center;         
  font-family: var(--font-family-nav);
  height: auto;
  box-shadow: 10px 14px 8px rgba(0, 0, 0, 0.2); 
  color: var(--color-text);
  
  font-size: var(--font-size-nav);
  z-index: 10;
  width: 100%;    
  }
 .offcanvas.text-bg-dark {
  background-color: rgba(0, 0, 10, 0.6) !important;  
  backdrop-filter: blur(10px);  
  
}

#chk1{
  display: none;
   
}
i{
  color: white;
  cursor: pointer;
}
header .search-box{
  flex: 1;
  position: relative;
}
.search-box input{
  width: 400px;
  height: 40px;
  border: none;
  outline: none;
  border: 1px solid rgba(111, 35, 243, 0.416);
  background-color: rgba(79, 14, 153, 0.531);
  border-radius: 30px;
  color: white;
  font-size: 16px;
  text-align: center;
  }
.search-box button{

  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 30px;
  border: none;
  position: absolute;
  transform: scale(0.9);
  background-color: transparent;

}
  
  /* hasta acá termina el nav */

 
  
  
  